<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [133]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split

In [134]:
# To-Do:  load the data 
df = pd.read_csv("HepatitisCdata.csv")
df

,Unnamed: 0,Age,Category,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,0,32,0,0,38.5,52.50000,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,1,32,0,0,38.5,70.30000,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,2,32,0,0,46.9,74.70000,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,3,32,0,0,43.2,52.00000,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,4,32,0,0,39.2,74.10000,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,610,62,4,1,32.0,416.60000,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,2
611,611,64,4,1,24.0,102.80000,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3,3
612,612,64,4,1,29.0,87.30000,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0,1
613,613,46,4,1,33.0,68.28392,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0,4
614,614,59,4,1,36.0,68.28392,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0,4

In [135]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
#df=df.loc[:,["Category","Age","Sex","ALB","ALP","ALT","AST","BIL","CHE","CHOL","CREA","GGT","PROT"]]
# The target here is the Category column 
x=df.loc[:,["Age","Sex","ALB","ALP","ALT","AST","BIL","CHE","CHOL","CREA","GGT","PROT"]]
y=df.loc[:,["Category"]]

In [136]:
df=df.rename({"Unnamed: 0":"ID"},axis=1)

In [137]:
del df["Unnamed: 0"]

KeyError: 'Unnamed: 0'

In [139]:
df.to_csv('HepatitisCdata.csv')

In [138]:
df

,ID,Age,Category,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,0,32,0,0,38.5,52.50000,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,1,32,0,0,38.5,70.30000,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,2,32,0,0,46.9,74.70000,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,3,32,0,0,43.2,52.00000,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,4,32,0,0,39.2,74.10000,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,610,62,4,1,32.0,416.60000,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,2
611,611,64,4,1,24.0,102.80000,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3,3
612,612,64,4,1,29.0,87.30000,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0,1
613,613,46,4,1,33.0,68.28392,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0,4
614,614,59,4,1,36.0,68.28392,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0,4

In [140]:
list =[]
for value in df["ID"]:
    list.append(value)

In [141]:
for value in range(0,len(list)):
    list[value] += 1

In [142]:
df["ID"]=list

In [143]:
list_cluster =[]
for value in df["cluster"]:
    list_cluster.append(value)

In [145]:
# Do not forget to split your data (this is a classification task)
# test set size should be 20% of the data 
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [144]:
df

,ID,Age,Category,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,32,0,0,38.5,52.50000,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,32,0,0,38.5,70.30000,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,32,0,0,46.9,74.70000,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,32,0,0,43.2,52.00000,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,32,0,0,39.2,74.10000,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,62,4,1,32.0,416.60000,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,2
611,612,64,4,1,24.0,102.80000,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3,3
612,613,64,4,1,29.0,87.30000,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0,1
613,614,46,4,1,33.0,68.28392,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0,4
614,615,59,4,1,36.0,68.28392,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0,4

## 2. Building the model and training and evaluate the performance:

In [146]:
# To-do build the model and train it 
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=42, criterion="entropy",random_state=0)
model = model.fit(x_train,y_train)
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance

In [147]:
# Set the parameters by cross-validation
tuned_parameters = [{"n_estimators":[40,42,50,60]}]

scores = ['precision', 'recall']

In [148]:
from sklearn.model_selection import GridSearchCV
def grid_search (x_train,y_train,x_test,y_test,tunes_params,metric='precision'):
    print("# Tuning-hyperparatmeters for %s" % metric)
    clf= GridSearchCV(model,tuned_parameters,scoring='%s_macro' % metric)
    clf.fit(x_train, y_train)
    print("best params found")
    print(clf.best_params_)
    print("Grid score on development set : ")
    print(clf.best_estimator_)
    print()
    means=clf.cv_results_['mean_test_score']
    stds=clf.cv_results_['std_test_score']
    #for mean,Std,params in zip(means,stds,clf.cv_results_['params']):
        #print("{}(+/-%0.03f) for r% ".format(mean,Std*2,params))
    print("Classification report")   
    y_true, y_pred=y_test,clf.predict(x_test)
    print(classification_report(y_true,y_pred))

In [149]:
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings("ignore")
grid_search(x_train,y_train,x_test,y_test,tuned_parameters,scores[0])

# Tuning-hyperparatmeters for precision
best params found
{'n_estimators': 42}
Grid score on development set :
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=42, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

Classification report
             precision    recall  f1-score   support

          0       0.94      1.00      0.97       102
          2       0.67      0.25      0.36         8
          3       1.00      0.17      0.29         6
          4       0.64      1.00      0.78         7

avg / total       0.91      0.91      0.89       123

We used the RandomForest method to fit our data, and we want to know more about the best hyper_parameters we can get, in order to do so, I choose to work with grid_search to find the best number of estimators that can gives me the best result of precision and recall, after trying some values, the best number of estimator was between 40 and 45, and the best result was with "42" n_estimators

In [150]:
y_hat = model.predict(x_test)

In [151]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 
import sklearn
from sklearn.metrics import precision_score, accuracy_score
print(sklearn.metrics.precision_score(y_test,y_hat,average='micro'))
print(sklearn.metrics.accuracy_score(y_test,y_hat))

0.9105691056910569
0.9105691056910569

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [152]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as well  
test_df = df
x=df.loc[:,["Age","Sex","ALB","ALP","ALT","AST","BIL","CHE","CHOL","CREA","GGT","PROT"]]
target = model.predict(x)
list_targ=[]
for value in target : 
    list_targ.append(value)
test_df["Category"] = y

In [153]:
test_df.head()

,ID,Age,Category,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,32,0,0,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,32,0,0,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,32,0,0,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,32,0,0,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,32,0,0,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3

In [154]:
# To-Do : Add the predicted_class column 
test_df["Predicted_class"]=list_targ

In [155]:
test_df.head()

,ID,Age,Category,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
0,1,32,0,0,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3,0
1,2,32,0,0,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3,0
2,3,32,0,0,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3,0
3,4,32,0,0,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3,0
4,5,32,0,0,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3,0

In [156]:
test_df.columns

Index(['ID', 'Age', 'Category', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL',
       'CHE', 'CHOL', 'CREA', 'GGT', 'PROT', 'cluster', 'Predicted_class'],
      dtype='object')

> Make sure you have 16 column in this test set

In [157]:
# Save the test set 
test_df.to_csv("test_summary.csv")